[Unit]
Description=PICOFoxweb Lightweight Web Server
After=network.target

[Service]
ExecStart=/usr/local/sbin/PICOFoxweb 8000
KillMode=process
User=root
Group=root

[Install]
WantedBy=multi-user.target
